<!-- Identificando os elementos no V-FOR -->

<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
  <ul>
    <li v-for="(cor, indice) in cores" :key="cor">{{ indice + 1 }}) {{ cor }}</li>
  </ul>
  <button @click="cores.push('rosa')">Adicionar</button>
  <hr>
  <template v-for="(cor, indice) in cores">
    <h2>{{ cor }}</h2>
    <p>{{ indice }}</p>
  </template>
  <hr>
  <ul>
    <li v-for="pessoa in pessoas">
      <div v-for="(valor, chave, index) in pessoa">
        {{ chave }} = {{ valor }} ({{ index + 1 }})
      </div>
    </li>
  </ul>
  <hr>
  <span v-for="n in 10">{{ n }}</span>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      cores: ['vermelho', 'amarelo', 'verde', 'azul'],
      pessoas: [
        {nome: 'Ednardo', idade: 30, peso: 55},
        {nome: 'Kell', idade: 25, peso: 50}
      ]
    }
  });
</script>

<style>
  ul {
    list-style: none;
  }

  h2, p {
    display: inline;
    margin-right: 5px;
  }
</style>
